<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <h2>Books:</h2>
  <ul>
    <% for (let i = 0; i < books.length; i++) { %>
      <li>
        <a href="/books/<%= books[i].id %>"><%= books[i].title %></a>
      </li>
    <% } %>
  </ul>
  <a href="/">Home</a>
</body>
</html>
