<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <h2>Users:</h2>
  <ul>
    <% for (let i = 0; i < users.length; i++) { %>
      <li>
        <a href="/users/<%= users[i].id %>"><%= users[i].name %></a>
      </li>
    <% } %>
  </ul>
  <form action="/users" method="post">
    <label for="newUser">Add User: </label>
    <input type="text" name="newUser" id="newUser">
    <button type="submit">Add User</button>
  </form>
  <a href="/">Home</a>
</body>
</html>
