<!-- views/errors/not-found.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= errMsg %></p>
  <a href="<%= backPath %>">Back</a>
</body>
</html>